# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Secrets
.env
*.env

# Reflex
.web/
.states/
assets/external/
uploaded_files/

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db